/* Основний колір #212121 */
/* Вторинний колір #757575 */
/* Акцент 1 #2196F3 */
/* Акцент 2 білий колір #ffffff */
/* Акцент 3 чорний колір #000000 */
/* фон для хутера #188CE8 */
/* фон для секції 4 */
/* фон для футера #2F303A */
/* фон секції портфоліо  #E5E5E5 */
/* фон карток портфоліо #EEEEEE */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;    
    --accent-black-color: #000000;
    --accent-hover-color: #188CE8; 
    --background-darker-than-white: #F5F4FA;
    --background-very-gray: #2F303A;
    --background-portfolio: #E5E5E5;
    --background-image-portfolio: #EEEEEE;
}

body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: Roboto, serif;      
}

h1,
h2,
h3,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Логотип -Studio- */
.header {
    border-bottom: 2px;
    border-color: #188CE8;
}

.logo {
    display: inline-block;
margin-right: 93px;
padding: 24px 0;
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;   
    font-weight: 700;
    font-size: 26px;  
    line-height: 1.2;    
    letter-spacing: 0.03em;
    text-decoration: none;

    background-color: greenyellow
}
/* Логотип -Web- */
.logo-black {
    color: var(--accent-black-color);
}

.nav-section {
    display: flex;
    margin-right: auto;
}
/* Ховер та фокус на весь логотип */
.logo:hover,
.logo:focus,
.web:hover,
.web:focus, 
.footer-logo:hover,
.footer-logo:focus{
    color: var(--accent-hover-color);
}

/* Флексимо */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid palevioletred;

}

.container-flex {
    display: flex;
} 

/* Хедер Site nav */

.site-nav {
    gap: 30px;
}

.site-nav .item {
    padding: 24px 0;
    background-color: greenyellow
   
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    color: var(--primary-text-color);   

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;    
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Добавляє ховер i фокус в хедерi */
.site-nav .link:hover,
.site-nav .link:focus,
.item-nav .link:hover,
.item-nav .link:focus,
.footer-nav .title:hover,
.footer-nav .title:focus,
.footer-nav .link-nav:hover,
.footer-nav .link-nav:focus{
    color: var(--accent-color);
}

/* Псевдоклас.Елемент рядка, який вiдображається в даний момент*/
.site-nav .link.current {
    color: var(--accent-color);
}

/* Пошта та телефон в хедері */
.auth-nav .item-nav+.item-nav {
    margin-left: 50px;
}

.auth-nav .item-nav {  
    padding-top: 32px;
    padding-bottom: 32px;
    
    background-color: greenyellow
}
.item-nav .link {
color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Прибирає крапки */
.list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

     /* Секція 1 */
/* Герой - заголовок */
.section-hero {
margin-bottom: 30;
    padding: 200 0;
}

.hero-title {
    
    
    color: var(--primary-white-color);  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    letter-spacing: 0.06em;
    text-align: center;   
    text-transform: uppercase;

    outline: 2px solid red;
}



/* Кнопка на сторiнцi Студiя*/
.btn {
    padding: 10px 32px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;   
    letter-spacing: 0.06em;
    cursor: pointer;  
    border-radius: 4px;
    border: 0;
}

/* Добавляє ховер i фокус лише для кнопки СТУДIЯ  */
.btn:hover,
.btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-hover-color);
}

        /* Секція 2 */
/* Приховує заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.page-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Стилiзацiя заголовку h3 */
.feature-list .title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Стилiзацiя тексту p */
.feature-list .text {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;      
}

.feature-list {
    list-style: none;    
    display: flex;
    padding-top: 96px;
    gap: 30px;
    align-items: center;
}

.feature-list-item{
    gap: 30px;
}

     /* Секція 3 */
/* Стилiзацiя заголовку h2 (в 3 i 4 секцiях) */
.section-title {
    margin-bottom: 50px;
    
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-title .list {
    gap: 30px;
    display: flex;
    margin: -15px;
}

.list-image {
    margin: 15px;  
}

 
     /* Секція 4 */
/* Стилiзацiя заголовку h3 */
.section-image {
    margin: 15px;
    list-style: none;
    background-color: var(--primary-white-color);

    flex-basis: calc(100% / 4 - 30px);
}

.work-list {
    margin: -15px;
}

.work-list .title {
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    text-align: center;
    letter-spacing: 0.03em;
}

/* Стилiзацiя тексту p */
.work-list .text {
    color: var(--title-text-color);   
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;         
}

.team-box {
    padding: 30px 0;
}

     /* Футер */
.footer-address {
    font-style: normal;
}

/* Стилiзує слово Studio */
.footer-logo {
    color: var(--primary-white-color);   
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-white {
    color: var(--primary-white-color);
}

/* Стилiзує нaвiгацiю */
.footer-nav  {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;    
}

.link-nav {
    color: rgba(255, 255, 255, 0.6);    
    text-decoration: none;
}


/* Портфоліо */
     /* Секція 1 */
/* Кнопки */
.button .btn-primary, .btn-secondary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
}

.button .btn-secondary {
    color: var(--primary-text-color);
    background-color: var(--background-darker-than-white);
}

/* Кнопки: ховер та фокус на сторiнцi Портфолiо*/
.button .btn-secondary:hover, 
.button .btn-secondary:focus,
.button .btn-primary:hover,
.button .btn-primary:focus{
    background-color: var(--accent-hover-color);
    color: var(--primary-white-color);
}

/* Другий список з зображеннями */

.section-image-item {
    list-style: none;
    background-color: var(--background-image-portfolio);
}

.link {
    font-style: normal;
    text-decoration: none;
}

.about-works .item {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
}

.about-works .texts {
    color: var(--title-text-color);   
    font-size: 16px;
    line-height: 1.87; 
    letter-spacing: 0.03em;
}


/* Фон для  секціi 4 */
.section-works {
    background: var(--background-darker-than-white);
}
/* Фон для секції 1  */
.background {
    background-color: var(--background-very-gray);
}
/* Фон для футера */
.footer {
    background: var(--background-very-gray);
    padding: 60px 0;
}
/* Фон для секції портфоліо */
.portfolio {
    background-color: var(--background-portfolio);
}